[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lablaster"]
	path = lablaster
	url = https://github.com/alexsb1/lablaster
	shallow = true
	registered = true
